:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.contact-icons {
  mat-icon {
    transform: scale(1.25);
  }
}

.content-area {
  padding: 40px 10vw 40px 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 36px;

  img {
    max-width: 64px;
    max-height: 64px;
    margin: 12px;
  }
}
