<mat-toolbar color="primary">
  <h1>Mathew Begg</h1>
</mat-toolbar>
<nav mat-tab-nav-bar mat-stretch-tabs>
  <a
    mat-tab-link
    *ngFor="let page of pages"
    (click)="activePage = page"
    [active]="activePage == page"
    [routerLink]="page.path"
  >
    {{ page.name }}
  </a>
</nav>
<div class="content-area">
  <router-outlet></router-outlet>
  <div class="logo-container">
    <img src="../../assets/tech-logos/aws-logo.png" />
    <img src="../../assets/tech-logos/angular-logo.png" />
    <img src="../../assets/tech-logos/ngrx-logo.png" />
    <img src="../../assets/tech-logos/html5-logo.png" />
    <img src="../../assets/tech-logos/css3-logo.png" />
    <img src="../../assets/tech-logos/sass-logo.png" />
    <img src="../../assets/tech-logos/nodejs-logo.png" />
    <img src="../../assets/tech-logos/typescript-logo.png" />
    <img src="../../assets/tech-logos/java-logo.png" />
    <img src="../../assets/tech-logos/c-logo.png" />
    <img src="../../assets/tech-logos/mongodb-logo.png" />
    <img src="../../assets/tech-logos/git-logo.png" />
    <img src="../../assets/tech-logos/gocd-logo.png" />
    <img src="../../assets/tech-logos/redux-logo.png" />
  </div>
</div>
