<div class="content-row">
  <img
    class="content-section portrait"
    src="../../assets/business-picture.png"
  />
  <div class="content-section">
    <p>
      Hello. My name is Mathew Begg. I am in my final semester of my computer
      engineering bachelor's degree at Ryerson university. I am looking for a
      full-time software development position starting in Spring 2021.
    </p>
    <p>
      I spent 16 months working a full-time internship as a full stack developer
      at SOTI Inc. in Missisauga, Canada (6 months remotely).
    </p>
    <p>
      During my internship, I was able to collaborate effectively with all team
      members, be it QA, UX/UI, product, or other devs. My team followed
      agile/scrum principles and thus frequent communication across the team was
      vital.
    </p>
    <p>
      I enjoy problem solving. In my free time I like to play sports
      (volleyball, basketball, skiing), board games and video games.
    </p>
  </div>
</div>
<div class="content-row">
  <img
    [@changePicture]="displayPicture ? 'display' : 'hide'"
    class="gallery-picture"
    src="{{ picturePath + pictures[currentPicture] }}"
  />
</div>
<div></div>
